<!doctype html>
<html lang="en" ng-app="demoApp">
<head>
<meta charset="utf8">
<title>Test - ETV search autocomplete</title>
<!-- Underscore -->
<script src="/bower_components/underscore/underscore.js"></script>
<!-- Angular -->
<script src="/bower_components/angular/angular.js"></script>
<!-- Angular bootstrap -->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- Module -->
<script src="/out/directive-proxy.js"></script>
<script src="/out/parsers.js"></script>
<script src="/out/fields.js"></script>
<link href="style.css" rel="stylesheet">

<script>
angular.module('demoApp', ['battlesnake.fields'])
	.controller('demoController', demoController);
	
function demoController($scope, $http, $q, $window) {

	$scope.model = {
		target: null
	};

	$scope.search = function (phrase, count) {
		if (!phrase) {
			return $q.when($scope.data = null);
		}
		return $http(
			{
				url: 'http://etv.err.ee/api/search/contents',
				method: 'GET',
				params: {
					phrase: phrase,
					page: 0,
					size: count || 8,
				}
			})
			.then(function (res) { return res.data.Results; });
	};

	$scope.openResult = function () {
		var url = $scope.model.target;
		if (!/^(http.?\:\/\/)?[\w\.]+?\.err\.ee\//i.test(url)) {
			url = 'etv.err.ee/' + url;
		}
		if (!/^https?\:\/\//i.test(url)) {
			url = 'http://' + url;
		}
		$window.open(url);
	};
}
</script>

</head>

<body>

<h1>Choice directive, bound to promise factory</h1>
<h2>Uses search API on etv.err.ee to provide suggestions</h2>
<hr>

<fieldset ng-controller="demoController">
<legend>etv search with autocomplete, filter by title match </legend>

	<field:auto title="search" x-purpose="choice" ng-model="model.target" x-hints="search"
		x-choices="result.Url as result.Header for result in {[search($viewValue, 50)]}"></field:auto>

<input type="button" ng-click="openResult()" ng-show="model.target" value="go">
</fieldset>

<fieldset ng-controller="demoController">
<legend>etv search with autocomplete, don't filter</legend>

	<field:auto title="search" x-purpose="choice" ng-model="model.target" x-hints="search,nofilter"
		x-choices="result.Url as result.Header for result in {[search($viewValue, 8)]}"></field:auto>

<input type="button" ng-click="openResult()" ng-show="model.target" value="go">
</fieldset>

</body>

</html>
