<!doctype html>
<html lang="en" ng-app="demoApp">
<head>
<meta charset="utf8">
<title>Test - binding to static data</title>
<!-- Underscore -->
<script src="/bower_components/underscore/underscore.js"></script>
<!-- Angular -->
<script src="/bower_components/angular/angular.js"></script>
<!-- Angular bootstrap -->
<link rel="stylesheet" href="/bower_components/bootstrap/dist/css/bootstrap.min.css">
<script src="/bower_components/angular-bootstrap/ui-bootstrap-tpls.js"></script>
<!-- Module -->
<script src="/out/directive-proxy.js"></script>
<script src="/out/parsers.js"></script>
<script src="/out/fields.js"></script>
<link href="style.css" rel="stylesheet">

<script>
angular.module('demoApp', ['battlesnake.fields'])
	.controller('demoController', demoController);
	
function demoController($scope, $timeout) {
	$scope.model = {
		number: 1,
		multi: false
	};
	$scope.data = {
		numbers: [
			{ title: 'Zero', value: 0 },
			{ title: 'Unity', value: 1 },
			{ title: 'Phi', value: 1.618 },
			{ title: 'e', value: 2.71 },
			{ title: 'Pi', value: 3.141593 },
			{ title: 'Speed of unladen European swallow (m/s)', value: 11 },
			{ title: 'Forty-two', value: 42 },
			{ title: 'Forty-nine', value: 49 },
			{ title: 'Most RAM anyone needs (kB)', value: 640 }
		]
	};
	$scope.data.numbers.forEach(function (number) {
		number.order = 'Order: ' + Math.pow(10, Math.floor(Math.log10(number.value)));
	});
	$scope.data.all = _($scope.data.numbers).pluck('value');
	$scope.data.none = [];
}
</script>

</head>

<body ng-controller="demoController">

<h1>Choice directive</h1>
<h2>Data stored on client-side</h2>

<hr>

<fieldset>
<legend>Single- or multi-select</legend>
<field:auto title="Selection mode" x-purpose="choice" ng-model="model.multi" x-hints="not many"
	x-choices="{[ [{ title: 'single', value: false }, { title: 'multiple', value: 'multi' }] ]}"></field:auto>
</fieldset>

<hr>

<fieldset>
<legend>hints: not many</legend>
<field:auto title="Pick a number" x-purpose="choice" ng-model="model.number" x-hints="not many,{{model.multi}},group,all"
	x-choices="number.value as number.title group by number.order for number in data.numbers"></field:auto>
</fieldset>

<fieldset>
<legend>hints: many</legend>
<field:auto title="Pick a number" x-purpose="choice" ng-model="model.number" x-hints="many,{{model.multi}},{{model.multi?'show=10':''}}"
	x-choices="number.value as number.title group by number.order for number in data.numbers"></field:auto>
</fieldset>

<fieldset ng-hide="model.multi">
<legend>hints: search</legend>
<field:auto title="Pick a number" x-purpose="choice" ng-model="model.number" x-hints="search,{{model.multi}}"
	x-choices="number.value as number.title group by number.order for number in data.numbers"></field:auto>
</fieldset>

<fieldset ng-show="model.multi">
<legend>Multiselect decoration</legend>
<field:auto title="All/none" x-label="Select all" x-purpose="boolean" ng-model="model.number"
	x-true-value="data.all" x-false-value="data.none"></field:auto>
</fieldset>

<fieldset>
<legend>Model</legend>
<pre>{{ model | json }}</pre>
</fieldset>

<fieldset>
<legend>Data</legend>
<pre>{{ data | json }}</pre>
</fieldset>

</body>

</html>
